<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Car Recommendation{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.1.5/dist/css/autoComplete.min.css"
    />
    <style>
      nav {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
      }
      html,
      body {
        height: 100%;
      }
      .autoComplete_wrapper {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="h-16 sticky top-0 bg-gray-100 z-50">
      <div class="container h-full flex items-center justify-between">
        <a >Garage_</a>
        <div class="flex gap-2">
          <div>BUY</div>
          <div>SELL</div>
        </div>
      </div>
    </nav>
    <div class="content h-full">{% block content %}{% endblock %}</div>
  </body>
</html>
