{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="section">
  <div
    class="container h-full grid grid-cols-2 lg:gap-24 gap-12 items-center justify-center lg:py-24 py-12"
  >
  
    <div>
      <h1 class="mb-3">Looking For a New Ride?</h1>
      <p class="mb-5">Search from our vast fleet of vehicles</p>

      <div class="autoComplete_wrapper">
        <form action="/results" method="POST" id="myForm">
          <input
            id="autoComplete"
            type="search"
            dir="ltr"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            name="search-term"
            value=""
          />
        </form>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img src="../static/garage.jpeg" alt="" class="w-180 h-120" />
    </div>
  </div>
</div>

<div class="section bg-gray-100 lg:py-24 py-12">
  <div class="container">
    <h2>View by vehicle type</h2>
    <div class="grid grid-cols-4 lg:gap-6 gap-3 lg:pt-12 pt-6">
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/pickup.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Pickups</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/SUV.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">SUV</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/hatchback.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Hatchback</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/coupe.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Coupe</p>
      </a>

      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/sedan.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Sedan</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/convertible.png" alt="" class="w-100 h-100" />
        <p class="text-center">Convertible</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/Minivan.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Minivan</p>
      </a>
      <a
        class="shadow-md rounded-md p-4 hover:shadow-lg cursor-pointer bg-white"
        href="./results"
      >
        <img src="../static/wagon.jpeg" alt="" class="w-100 h-100" />
        <p class="text-center">Wagon</p>
      </a>
    </div>
  </div>
</div>

<style>
  html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 64px;
  }

  .section {
    scroll-snap-align: start;
    height: 100vh;
    scroll-snap-stop: normal;
    width: 100%;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.1.5/dist/autoComplete.min.js"></script>
<script>
  let flaskData = {{ val|tojson }}

  const autoCompleteJS = new autoComplete({
    selector: "#autoComplete",
    placeHolder: "Search for Cars...",
    searchEngine: "strict",
    threshold: 2,
    data: {
      src: flaskData,
      // src: ["Sauce - Thousand Island", "Wild Boar - Tenderloin", "Goat - Whole Cut"],
      cache: true,
    },
    resultsList: {
      element: (list, data) => {
        if (!data.results.length) {
          // Create "No Results" message element
          const message = document.createElement("div");
          // Add class to the created element
          message.setAttribute("class", "no_result");
          // Add message text content
          message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
          // Append message element to the results list
          list.prepend(message);
        }
      },
      noResults: true,
    },
    resultItem: {
      highlight: true
    },
    events: {
      input: {
        selection: (event) => {
          console.log("HELLO")
          const selection = event.detail.selection.value;
          autoCompleteJS.input.value = selection;
          document.getElementById("myForm").submit();
        }
      }
    }
  });
</script>
{% endblock %}
