{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"
/>
<div class="top-section">
  <div
    class="container h-full grid grid-cols-2 lg:gap-24 gap-12 items-center justify-center lg:pt-24 pt-12 lg:pb-32 pb-16"
  >
    <div>
      <h1 class="mb-3">
        Looking For a <span class="text-orange-600">New Ride?</span>
      </h1>
      <p class="mb-5 text-slate-500">Search from our vast fleet of vehicles</p>

      <div class="autoComplete_wrapper">
        <form action="/results" method="POST" id="myForm">
          <input
            id="autoComplete"
            type="search"
            dir="ltr"
            spellcheck="false"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            name="search-term"
            value=""
            class="!border-orange-600 !text-orange-600 !rounded-lg"
          />
          <input type="hidden" name="type" value="search" />
        </form>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img
        src="../static/assets/landing.webp"
        alt=""
        class="w-full aspect-[26/23]"
      />
    </div>
  </div>
</div>
<div class="section bg-orange-gradient lg:py-24 py-12">
  <div class="container">
    <h2>View by vehicle type</h2>
    <form action="/results" method="POST" id="hiddenForm">
      <input
        type="hidden"
        id="search-term-by-type"
        name="search-term"
        value=""
      />
      <input type="hidden" name="type" value="carType" />
    </form>
    <div class="grid grid-cols-4 lg:gap-6 gap-3 lg:pt-12 pt-6">
      {% for car in carTypes %}
      <a
        class="shadow-md rounded-xl p-4 hover:shadow-lg cursor-pointer bg-white group bg-{{car.key}} hover:scale-105 transition-transform"
        href="javascript:void(0);"
        onclick="submitForm('{{ car.value }}')"
      >
        <img
          src="https://storage.googleapis.com/cdn-cloudstore/buy/{{car.key}}.webp"
          alt=""
          class="w-full rounded-xl group-hover:scale-110 aspect-[49/37]"
        />
        <p class="text-center pt-2 group-hover:text-white font-semibold">
          {{car.value}}
        </p>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  let flaskData = {{ allCars|tojson }};

  const autoCompleteJS = new autoComplete({
    selector: "#autoComplete",
    placeHolder: "Search for Cars...",
    searchEngine: "strict",
    threshold: 1,
    data: {
      src: flaskData,
      cache: true,
    },
    resultsList: {
      element: (list, data) => {
        if (!data.results.length) {
          const message = document.createElement("div");
          message.setAttribute("class", "no_result");
          message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
          list.prepend(message);
        }
      },
      noResults: true,
    },
    resultItem: {
      highlight: true,
    },
    events: {
      input: {
        selection: (event) => {
          const selection = event.detail.selection.value;
          autoCompleteJS.input.value = selection;
          document.getElementById("myForm").submit();
        },
      },
    },
  });

  function submitForm(type) {
    console.log(type);
    document.getElementById("search-term-by-type").value = type;
    document.getElementById("hiddenForm").submit();
  }
</script>

<style>
  html {
    /* scroll-snap-type: y mandatory;
    scroll-padding-top: 64px; */
  }

  .section {
    width: 100%;
    /* height: 100vh; */
    /* scroll-snap-align: start;
    scroll-snap-stop: normal; */
  }

  .top-section {
    position: relative;
  }
  /* .top-section::before {
    position: absolute;
    right: -10%;
    top: -35%;
    z-index: -1;
    height: 800px;
    width: 800px;
    border-radius: 9999px;
    --tw-content: "";
    content: var(--tw-content);
    background: linear-gradient(
      200deg,
      rgb(247, 240, 237) 40%,
      rgb(241, 246, 245) 100%
    );
  } */
</style>
{% endblock %}
