{% extends "base.html" %} {% block title %}Sell{% endblock %} {% block content
%}
<div class="top-section overflow-hidden">
  <div
    class="container h-full flex lg:flex-row flex-col items-center justify-center lg:pt-24 pt-12 lg:pb-32 pb-16"
  >
    <div class="lg:w-7/12 w-full">
      <h1 class="mb-3">
        See what your <span class="text-orange-600">car is worth</span>
      </h1>
      <p class="mb-5 text-slate-500">
        Get an instant appraisal in as little as 2 minutes.
      </p>
    </div>
    <div class="lg:w-5/12 w-full flex items-center justify-center">
      <form id="detailsForm" action="/sell" method="post" class="hidden">
        <input type="hidden" name="action" value="getCarMake" />
        <input id="getCarMake" type="text" name="carMake" value="" />
        <input id="getCarModel" type="text" name="carModel" value="" />
      </form>

      <form
        action="/sell"
        method="post"
        class="shadow-lg bg-white p-6 rounded-xl w-full"
        id="form"
      >
        <p class="lg:pb-4 pb-2 font-semibold">
          Please fill in the form to get a quote
        </p>
        <input type="hidden" name="action" value="getCarPrice" />
        <div class="grid grid-cols-1 gap-4">
          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carType">Car Type</label>
            <select
              required
              id="carType"
              name="carType"
              class="border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            >
              <option value="" disabled selected>Please select</option>
              {% for car in carTypes %}
              <option value="{{ car }}">{{ car }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carMake">Car Make</label>
            <select
              id="carMake"
              name="carMake"
              disabled
              class="border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            >
              <option value="" disabled selected>
                Please select a car type first
              </option>
              {% for make in car_make %}
              <option value="{{ make }}">{{ make }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carModel">Car Model</label>
            <select
              id="carModel"
              name="carModel"
              disabled
              class="border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            >
              <option value="" disabled selected>
                Please select a car make first
              </option>
            </select>
          </div>

          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carMileage">Car Mileage</label>
            <input
              type="text"
              name="carMileage"
              id="carMileage"
              placeholder="Enter Mileage"
              class="px-2 border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            />
          </div>

          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carColor">Car Color</label>
            <input
              type="text"
              name="carColor"
              id="carColor"
              placeholder="Enter Color"
              class="px-2 border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            />
          </div>

          <div class="flex flex-col">
            <label class="text-sm pb-1" for="carYear">Car Year</label>
            <input
              type="number"
              name="carYear"
              id="carYear"
              placeholder="Enter Year"
              class="px-2 border border-gray-100 bg-gray-100 rounded focus:!border-cyan-400 focus-visible:outline-cyan-400 hover:border-cyan-400 h-9"
            />
          </div>
        </div>
        <div class="flex justify-end lg:pt-10 pt-5">
          <button
            type="submit"
            class="whitespace-nowrap border-none text-center py-2 lg:px-5 px-3 transition lg:text-lg text-base font-semibold rounded-lg bg-cyan-400 hover:bg-cyan-600 text-white"
          >
            Get Quote
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  id="price-section"
  class="hidden lg:py-24 py-12 w-full bg-orange-gradient h-[600px]"
>
  <div id="loading" class="flex flex-col items-center">
    <img
      src="https://storage.googleapis.com/cdn-cloudstore/loading.gif"
      alt="gif"
      class="w-64 h-48"
    />
    <h4 class="pt-2 ml-8">Loading...</h4>
  </div>

  <h2 id="price" class="hidden">The price is {{carPrice}}</h2>
</div>
<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/slim-select@latest/dist/slimselect.css"
/>
<script type="module">
  let carTypeSelect = document.getElementById("carType");
  let carMakeSelect = document.getElementById("carMake");
  let carModelSelect = document.getElementById("carModel");
  let slimSelectType = new SlimSelect({
    select: carTypeSelect,
  });
  let slimSelectMake = new SlimSelect({
    select: carMakeSelect,
  });
  let slimSelectModel = new SlimSelect({
    select: carModelSelect,
  });

  let selectedCarType;
  let selectedCarMake;
  let selectedCarModel;
  carModelSelect.addEventListener("change", function () {
    selectedCarModel = carModelSelect.value;
  });

  document.addEventListener("DOMContentLoaded", function () {
    formSubmitListener();
  });

  onSelectChange(carTypeSelect, "getCarMake");
  onSelectChange(carMakeSelect, "getCarModel");

  function formSubmitListener() {
    const form = document.getElementById("form");
    if (form) {
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        const formData = new FormData(form);
        fetch("/sell", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.price) {
              let priceSection = document.getElementById("price-section");
              priceSection.classList.add("flex");
              priceSection.classList.add("justify-center");
              priceSection.classList.add("items-center");
              priceSection.classList.add("flex-col");
              priceSection.classList.remove("hidden");

              priceSection.scrollIntoView({
                behavior: "smooth",
                block: "start",
              });

              setTimeout(() => {
                let price = document.getElementById("price");
                let loading = document.getElementById("loading");
                price.classList.remove("hidden");
                loading.classList.add("hidden");
              }, 3500);
            }
          });
      });
    }
  }

  function onSelectChange(typeChanged, action) {
    typeChanged.addEventListener("change", function () {
      let selectedValue = typeChanged.value;
      let nextSelect =
        action === "getCarMake" ? slimSelectMake : slimSelectModel;

      nextSelect.innerHTML = "";
      resetSelect(nextSelect);
      nextSelect.disable();
      let payload = {};
      if (action === "getCarMake") {
        selectedCarType = selectedValue;
        carModelSelect.innerHTML = "";
        // resetSelect(slimSelectModel);
      }
      if (action === "getCarModel") {
        payload["carMake"] = selectedValue;
      }
      payload["carType"] = selectedCarType;

      if (selectedValue) {
        const formData = new FormData();
        formData.append("action", action);
        formData.append("carType", payload.carType);
        if (action === "getCarModel") {
          formData.append("carMake", payload.carMake);
        }
        fetch("/sell", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            let tempArr = [];
            let placeholder = document.createElement("option");
            placeholder.value = "";
            placeholder.textContent = "Please select";
            placeholder.disabled = true;
            placeholder.selected = true;
            tempArr.push(placeholder);

            data.forEach((ele) => {
              let option = document.createElement("option");
              option.value = ele;
              option.textContent = toTitleCase(ele);
              tempArr.push(option);
            });
            nextSelect.setData(tempArr);
            nextSelect.enable();
          })
          .catch((error) => console.error(error));
      }
    });
  }

  function resetSelect(slimSelect) {
    let placeholder = document.createElement("option");
    placeholder.value = "";
    placeholder.textContent = "Please select a car type first";
    slimSelect.setData(placeholder);
  }

  function toTitleCase(inputString) {
    const words = inputString.split(" ");
    const titleCaseWords = words.map((word) => {
      if (word.length === 0) {
        return ""; // Handle empty words (e.g., multiple spaces)
      }
      return word[0].toUpperCase() + word.slice(1).toLowerCase();
    });
    return titleCaseWords.join(" ");
  }
</script>

<style>
  .top-section {
    position: relative;
  }
  .top-section::before {
    position: absolute;
    right: -10%;
    top: -35%;
    z-index: -1;
    height: 800px;
    width: 800px;
    border-radius: 9999px;
    --tw-content: "";
    content: var(--tw-content);
    background: linear-gradient(
      200deg,
      rgb(247, 240, 237) 40%,
      rgb(241, 246, 245) 100%
    );
  }
</style>
{% endblock %}
